<div class="center">
	<hello name="{{ name }}"></hello>
	<p>Click the button below to pay</p>
	<form method="POST" action="https://payments.ipayafrica.com/v3/ke">
		<input type="hidden" name="live" value="{{ data.live }}" />
		<input type="hidden" name="oid" value="{{ data.oid }}" />
		<input type="hidden" name="inv" value="{{ data.inv }}" />
		<input type="hidden" name="ttl" value="{{ data.ttl }}" />
		<input type="hidden" name="tel" value="{{ data.tel }}" />
		<input type="hidden" name="eml" value="{{ data.eml }}" />
		<input type="hidden" name="vid" value="{{ data.vid }}" />
		<input type="hidden" name="curr" value="{{ data.curr }}" />
		<input type="hidden" name="p1" value="{{ data.p1 }}" />
		<input type="hidden" name="p2" value="{{ data.p2 }}" />
		<input type="hidden" name="p3" value="{{ data.p3 }}" />
		<input type="hidden" name="p4" value="{{ data.p4 }}" />
		<input type="hidden" name="cbk" value="{{ data.cbk }}" />
		<input type="hidden" name="cst" value="{{ data.cst }}" />
		<input type="hidden" name="crl" value="{{ data.crl }}" />
		<input type="hidden" id="hshkey" name="hsh" value="{{ data.hsh }}" />
		<!-- <input type="submit" class="full-width capitalize" mat-raised-button color="primary" /> -->

		<button type="submit" class="full-width capitalize" mat-raised-button color="primary" (click)="pay()">
			Pay here
		</button>
	</form>
</div>
